@import "tailwindcss";

@layer components {
  .theme {
    @apply bg-[#f7f6f3];
  }

  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #e8e5de transparent;
  }

  .custom-scroll:hover {
    scrollbar-color: #d1cfc8 transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: #e8e5de;
    border-radius: 100px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #c4bfb6;
  }
}
